ADA_DATA_DIR=/tmp/ada-jobs
ADA_DATABASE_PATH=/tmp/ada-jobs/jobs.sqlite3
ADA_DOWNLOAD_DIR=/tmp/ada-downloads
ADA_MAX_TRACKS=100
ADA_MAX_WORKERS=2
ADA_MAX_JOB_BYTES=5368709120
ADA_JOB_TTL_SECONDS=3600
ADA_DOWNLOAD_TIMEOUT_SECONDS=1800
